
<div>

    <h3>Lista de Hoteles</h3>

    <!-- Aquí iría la lógica para mostrar la lista de hoteles -->
    <ul>
        <li>Hotel A</li>
        <li>Hotel B</li>
        <li>Hotel C</li>
    </ul>
</div>