<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TurismoApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Hoteles">
                <span class="bi bi-building" aria-hidden="true"></span> Hoteles
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Vuelos">
                <span class="bi bi-airplane" aria-hidden="true"></span> Vuelos
            </NavLink>
        </div>
    </nav>
</div>
